{% extends "base.html" %}
{% block title %}我的信息{% endblock %} 
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>编辑我的资料</h1> 
    <div class="row">
        <div class="col-md-6" >
            <form class="form-horizontal" action="." method="post">{% csrf_token %}
                <div class="row">
                    <div class="col-md-4 text-right"><span>用户名:</span></div>
                    <div class="col-md-8 text-left">{{user.username}}</div>
                </div>

                <div class="row">
                    <div class="col-md-4 text-right"><span>昵称:</span></div>
                    <div class="col-md-8 text-left">{{userinfo_form.nick_name}}</div>
                </div>

                <div class="row">
                    <div class="col-md-4 text-right"><span>邮箱:</span></div>
                    <div class="col-md-8 text-left">{{user_form.email}}</div> 
                </div>

                <div class="row">
                    <div class="col-md-4 text-right"><span>学工号:</span></div>
                    <div class="col-md-8 text-left">{{userprofile_form.snumber}}</div>
                </div>

                <div class="row">
                    <div class="col-md-4 text-right"><span>手机号:</span></div>
                    <div class="col-md-8 text-left">{{userprofile_form.phone}}</div>
                </div>

                <div class="row">
                    <div class="col-md-4 text-right"><span>个人介绍:</span></div>
                    <div class="col-md-8 text-left">{{userinfo_form.aboutme}}</div> 
                </div>

                <div class="row">
                    <input type="submit" class="btn btn-primary btn-lg" value="提交">
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <p>照片</p>
        </div>
    </div>    
</div>
{% endblock %}